@tailwind base;
@tailwind components;
@tailwind utilities;

.bgPoke-normal {
  background-color: #a8a77a;
}
.bgPoke-fire {
  background-color: #ee8130;
}
.bgPoke-water {
  background-color: #6390f0;
}
.bgPoke-electric {
  background-color: #f7d02c;
}
.bgPoke-grass {
  background-color: #7ac74c;
}
.bgPoke-ice {
  background-color: #96d9d6;
}
.bgPoke-fighting {
  background-color: #c22e28;
}
.bgPoke-poison {
  background-color: #a33ea1;
}
.bgPoke-ground {
  background-color: #e2bf65;
}
.bgPoke-flying {
  background-color: #a98ff3;
}
.bgPoke-psychic {
  background-color: #f95587;
}
.bgPoke-bug {
  background-color: #a6b91a;
}
.bgPoke-rock {
  background-color: #b6a136;
}
.bgPoke-ghost {
  background-color: #735797;
}
.bgPoke-dragon {
  background-color: #6f35fc;
}
.bgPoke-dark {
  background-color: #705746;
}
.bgPoke-steel {
  background-color: #b7b7ce;
}
.bgPoke-fairy {
  background-color: #d685ad;
}
